<ion-view>
    <ion-content scroll="false" style="background:#4285fc">
		<div id="main">
			<div class="login-header">
			    <img class="login-img" src="../img/login_header.png">
			    <h3 style="color:#ffffff;">Bettbio.com</h3>
		  	</div>
	

			<div class="list list-inset">
			  <label class="item item-input" style="background-color: #4285fc;">
			    <i class="ion-android-person iconi"></i>
			    <input class="icon1-i" ng-model="login.username" type="text" value="" ng-click="vc.clears('1');">
			    <i class="" style="background-color:#d4a190;color:#FFFFFF;font-size:10px;">{{err1}}</i>
			  </label>
			</div>

			<div class="list list-inset">
			  <label class="item item-input" style="background-color: #4285fc;">
			    <i class="ion-android-lock iconi"></i>
			    <input class="icon1-i" ng-model="login.password" type="password" value="" ng-click="vc.clears('2');">
			  	<i class="" style="background-color:#d4a190;color:#FFFFFF;font-size:10px;">{{err2}}</i>
			  </label>
			</div>

			<div class="list list-inset buttonf">
				<button class="button button-stable" ng-click="vc.applogin();" 
					style="color: #4285fc;font-weight:bold; font-size: 18px;" >
			  		登 录
				</button>
			</div>
			<div class="list last-i">
				<span ng-click="vc.appRegister();"><i class="ion-ios-checkmark-outline"></i>&nbsp;注册<!-- 记住账户 --></span>
				 <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span> 
				 <span ng-click="vc.entry();">忘记密码？</span>
			</div>
		</div>
		  
    </ion-content>
</ion-view>

<style type="text/css">
	#main{
		margin: 8%;
	}

	.login-header{
		height: 10%;
		text-align: center;
	}

	.login-img{
		height: 140px;
		width: 140px;
	}
	
	.iconi{
		color: #fafafa;
		font-size: 24px;
	}

	.icon1-i {
		text-align: center;
		/*font: italic bold 24px arial;*/
		font-weight:bold;
	}

	.buttonf {
		color: #4285fc;
		text-align: center;

	}

	button {
		width: 100%;
		
	}

	.last-i {
		text-align: center;
		color: #fafafa;
		font-weight:bold;
		font-size: 14px;
	}
</style>