<ion-view>
    <ion-content scroll="false" style="background:#F0F3F8">
		<div id="main">
			<div class="list list-span">
			    <p style="padding-top: 6px;">
			    	<span>1.输入手机号&nbsp;</span>
			    	<i class="ion-ios-arrow-right ion-i"></i>
					<span>2.设置密码&nbsp;</span>
					<i class="ion-ios-arrow-right ion-i" ></i>
					<span style="color: #387ef5;">3.输入个人信息</span>
			    </p>
			</div>

			<div id="step3">
				<div class="list">
				  <label class="item item-input">
				    <input ng-model="step3.name" type="text" placeholder="请输入您的真实名字">
				  </label>
				  <br>
				  <label class="item item-input">
				    <input ng-model="step3.email" type="text" placeholder="请输入您的邮箱">
				  </label>
				   <br>
				  <label class="item item-input">
				    <input ng-model="step3.classgroup" type="text" placeholder="课题组">
				  </label>
				   <br>
				  <label class="item item-input">
				    <input ng-model="step3.shcool" type="text" placeholder="学校">
				  </label>
				</div>
		
				<div class="list list-inset" ng-click="vc.submitInfo();">
					<button class="button button-positive">
				  		提交资料
					</button>
				</div>
			</div>
	</div>
		  
    </ion-content>
</ion-view>

<style type="text/css">
	#main{
		margin: 0;
	}

	.list-span{
		background: #FFFFFF;
		height: 36px;
		text-align: center;
		font: bold 12px/20px "SimSun","宋体","Arial Narrow",HELVETICA;
		color: #333333;
	}

	.ion-i {
		padding-left: 5px;
		padding-right: 5px; 
		font-size: 16px;
	}

	button {
		width: 100%;
		
	}

	.last-i {
		text-align: center;
		color: #fafafa;
		font-weight:bold;
		font-size: 15px;
	}

	#main > p > span {
		color: #4285fc;
		/*color: #387ef5;*/

	}
</style>