<ion-view>
    <ion-content scroll="false" style="background:#F0F3F8">
		<div id="main">
			<div class="list list-span">
			    <p style="padding-top: 6px;">
			    	<span style="color: #387ef5;">1.输入手机号&nbsp;</span>
			    	<i class="ion-ios-arrow-right ion-i"></i>
					<span>2.设置密码&nbsp;</span>
					<i class="ion-ios-arrow-right ion-i" ></i>
					<span>3.输入个人信息</span>
			    </p>
			</div>
			<div id="step1" ng-show="true">
				<div class="list">
				  <label class="item item-input">
				    <input ng-model="step1.moblie" type="text" placeholder="请输入您的手机号" ng-click="vc.clears('1');">
			    	<i class="" style="background-color:#d4a190;color:#FFFFFF;font-size:10px;">{{err1}}</i>
				  </label>
				  <br>
				  <label class="item item-input">
				    <input ng-model="step1.validcode" type="text" placeholder="请输入您收到的验证码">
				    <span class="input-label" ng-click="vc.sendphonecode()"
			    	style="margin-right:10px; color:#4285fc; width:25%; padding:7px 5px 7px 5px;font-size: 12px;" 
			    	ng-class="paraclass" ng-bind="paracont">获取验证码</span>
				  </label>
				</div>
				<div class="list list-inset">
					<button class="button button-positive" ng-click="vc.step2();">
				  		下一步
					</button>
				</div>
			</div>
			
	</div>
		  
    </ion-content>
</ion-view>

<style type="text/css">
	#main{
		margin: 0;
	}

	.list-span{
		background: #FFFFFF;
		height: 36px;
		text-align: center;
		font: bold 12px/20px "SimSun","宋体","Arial Narrow",HELVETICA;
		color: #333333;
	}

	.ion-i {
		padding-left: 5px;
		padding-right: 5px; 
		font-size: 16px;
	}

	button {
		width: 100%;
		
	}

	.last-i {
		text-align: center;
		color: #fafafa;
		font-weight:bold;
		font-size: 15px;
	}

	.input-label {
		text-align: center;
		border:2px solid #4285fc;
		-moz-border-radius: 15px;      /* Gecko browsers */
    	-webkit-border-radius: 15px;   /* Webkit browsers */
    	border-radius:15px; 
	}

	#main > p > span {
		color: #4285fc;
		/*color: #387ef5;*/

	}
</style>